In [27]:
import yfinance as yf
import numpy as np
import pandas as pd
import datetime as dt
import time

In [28]:
data = yf.download("AAPL", start="2017-01-01", end="2020-04-30")
data

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  27.500973  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  27.470192   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  27.609884   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.917688  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  28.173399  134247600
...               ...        ...        ...        ...        ...        ...
2020-04-23  68.967499  70.437500  68.717499  68.757500  68.330582  124814400
2020-04-24  69.300003  70.752502  69.250000  70.742500  70.303253  126508800
2020-04-27  70.449997  71.135002  69.987503  70.792503  70.352943  117087600
2020-04-28  71.269997  71.457497  69.550003  69.644997  69.212555  112004800
2020-04-29  71.182503  72.417503  70.972504  71.932503  71.485863  137280800

[836 rows x 6 columns]

In [29]:
low_50=np.average(data.Low[-50:])

In [30]:
high_50=np.average(data.High[-50:])

In [31]:
current_week = yf.download("AAPL", start=str(dt.date.today()-dt.timedelta(days=7)), end=str(dt.date.today()))
current_week

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,133.520004,133.610001,126.760002,129.410004,129.410004,143301900
2021-01-05,128.889999,131.740005,128.429993,131.009995,131.009995,97664900
2021-01-06,127.720001,131.050003,126.379997,126.599998,126.599998,155088000
2021-01-07,128.360001,131.630005,127.860001,130.919998,130.919998,109578200
2021-01-08,132.429993,132.630005,130.229996,132.050003,132.050003,104965400

In [32]:
str(dt.date.today()-dt.timedelta(days=7))

'2021-01-03'

In [33]:
current_week=current_week.assign(
    vwap=current_week.eval(
        'wgtd = Close * Volume', inplace=False
    ).groupby(current_week.index.date).cumsum().eval('wgtd / Volume')
)

In [34]:
current_week.vwap.iloc[-1]

132.0500030517578

In [35]:
def ltp():
    return current_week.vwap.iloc[-1]
ltp()

132.0500030517578

In [ ]:
if __name__ == '__main__':
    while True:
        time.sleep(2)
        if ltp()>high_50:
            print("sell your fucking stock")
        elif ltp()<low_50:
            print("buy")

sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock
sell your fucking stock

In [ ]:
if